<div class="table-container">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <label>
      <input matInput (keyup)="applyFilter($event)"  #input>
    </label>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="source" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="file name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FileName </th>
        <td mat-cell *matCellDef="let row"> {{row.fileName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row" [style.color]="resolveColor(row.status)"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{ row.dateTime | date: 'hh:mm:ss dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="processButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Process </th>
        <td mat-cell *matCellDef="let row"> <button *ngIf='row.status=="waiting"' (click)="sendToAnalyse(row.id)" mat-raised-button color="primary">Send</button>  </td>
      </ng-container>

      <ng-container matColumnDef="reportButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Report </th>
        <td mat-cell *matCellDef="let row"> <button *ngIf='row.status=="completed"' (click)="getReport(row.id)" mat-raised-button color="primary">Get report</button>  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>


