﻿<div class="p-4">
    <div class="container">
      <ngb-alert [type]='alertType' (closed)="close()" *ngIf="showAlert">File doesn't have proper extension</ngb-alert>
      <div class="form-group">
        <br/>
        <input type="file" id="file" (change)="upload($event)" />
        <mat-slide-toggle [checked]="isTemplateFile" [(ngModel)]="isTemplateFile"> Make a template file </mat-slide-toggle>
      </div>
    </div>
</div>
